@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

body{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  width: 30px;
  height: 30px;
}

.nav-btn {
  background-color: white;
  border: none;
  color: black;
}

.log-bg {
  background-image: url('./components/images/social-3408791.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.loginbox{
  width: 320px;
  height: 320px;
  background: rgb(0, 0, 0, 0.5);
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.avatar {
  position: absolute;
  top: -50px;
 left: calc(50% - 50px);
 color: white;
 background-color: grey;
 border-radius: 120px;
}

.btn {
  color: black;
  background-color: white;
  border: none;
}

.log-title, .check-title {
  color: white;
  font-weight: bold;
}
